Repository Crownicles/Crownicles, pull requests merged in 2020-07, with the labels that each got.

#83 Report refactoring
  ressources/text/events/12.json
  ressources/text/events/13.json
  ressources/text/events/14.json
  ressources/text/events/15.json
  ressources/text/events/16.json
  ressources/text/events/17.json
  ressources/text/events/18.json
  ressources/text/events/19.json
  ressources/text/events/20.json
  ressources/text/events/21.json
  ressources/text/events/23.json
  ressources/text/events/24.json
  ressources/text/events/26.json
  ressources/text/events/27.json
  ressources/text/events/28.json
  ressources/text/events/29.json
  ressources/text/events/30.json
  ressources/text/events/31.json
  ressources/text/events/32.json
  ressources/text/events/33.json
  ressources/text/events/34.json
  ressources/text/events/36.json
  ressources/text/events/37.json
  ressources/text/events/38.json
  ressources/text/events/39.json
  ressources/text/events/4.json
  ressources/text/events/5.json
  ressources/text/events/6.json
  ressources/text/events/7.json
  ressources/text/events/8.json
  ressources/text/events/9.json
  ressources/text/events/9999.json
  ressources/text/models/players.json
  src/commands/admin/TestCommand.js
  src/commands/player/DailyCommand.js
  src/commands/player/DrinkCommand.js
  src/commands/player/FightCommand.js
  src/commands/player/ProfileCommand.js
  src/commands/player/ReportCommand.js
  src/commands/player/SellCommand.js
  src/commands/player/SwitchCommand.js
  src/commands_old/Fight.js
  src/commands_old/Sell.js
  src/core/Tools.js
  src/core/models/Players.js
Labels: Command, Core, enhancement

#84 Database migration
  database/migrations/003-refactor-database-for-next-version.sql
  src/core/Database.js
Labels: Core, help wanted

#86 Tournament
  config/app.json.default
  ressources/text/commands/tournament.json
  ressources/text/error.json
  src/commands/admin/TournamentCommand.js
  src/commands/player/FightCommand.js
  src/core/Constant.js
  src/core/Fight.js
  src/core/MessageError.js
Labels: Command, enhancement

#76 Event proposal la grotte
  ressources/text/events/42.json
Labels: event

#117 Fix money not given when trade accepted
  src/core/Tools.js
Labels: enhancement
