Repository Crownicles/Crownicles, pull requests merged in 2022-04, with the labels that each got.

#1063 Fix report slash command bugs
  src/commands/CommandsManager.ts
  src/commands/admin/testCommands/Map/SmallEventTestCommand.js
  src/commands/player/ReportCommand.ts
  src/core/CommandsTest.ts
  src/core/Data.ts
  src/core/Translations.ts
  src/core/smallEvents/bigBadEventSmallEvent.ts
  src/core/smallEvents/botVoteSmallEvent.ts
  src/core/smallEvents/lotterySmallEvent.ts
  src/core/smallEvents/petSmallEvent.ts
  src/core/smallEvents/shopSmallEvent.ts
  src/core/smallEvents/staffMemberSmallEvent.ts
  src/core/smallEvents/winGuildXPSmallEvent.ts
  src/core/smallEvents/winPersonalXPSmallEvent.ts
Labels: enhancement, command, refactoring

#1079 Sellcommandtoslashcommand
  src/commands/player/SellCommand.js
  src/commands/player/SellCommand.ts
Labels: enhancement, command, refactoring

#1084 daily command slash command #331
  resources/text/commands/daily.json
  src/commands/player/DailyCommand.js
  src/commands/player/DailyCommand.ts
  src/core/constants/DailyConstants.ts
Labels: enhancement, command, refactoring

#1085 Unlock command slash command
  src/commands/ICommand.ts
  src/commands/player/UnlockCommand.js
  src/commands/player/UnlockCommand.ts
  src/core/Constant.js
  src/core/constants/UnlockConstants.ts
Labels: enhancement, command, refactoring

#1086 petit refactoring + update de dépendances
  package.json
  resources/text/commands/profile.json
  src/commands/ICommand.ts
  src/commands/player/BadgeCommand.ts
  src/commands/player/ClassCommand.ts
  src/commands/player/ClassStatsCommand.ts
  src/commands/player/DailyCommand.ts
  src/commands/player/DmNotificationCommand.ts
  src/commands/player/HelpCommand.ts
  src/commands/player/IdeaCommand.ts
  src/commands/player/InventoryCommand.ts
  src/commands/player/InviteCommand.ts
  src/commands/player/MapCommand.ts
  src/commands/player/PingCommand.ts
  src/commands/player/PrefixCommand.ts
  src/commands/player/ProfileCommand.ts
  src/commands/player/RarityCommand.ts
  src/commands/player/ReportCommand.ts
  src/commands/player/RespawnCommand.ts
  src/commands/player/SellCommand.ts
  src/commands/player/ShopCommand.ts
  src/commands/player/UpdateCommand.ts
  src/commands/player/VoteCommand.ts
  yarn.lock
Labels: bug, refactoring, dependencies

#1091 Suite du Icommand refactoring
  resources/text/commands/guildAdd.json
  src/commands/admin/ChangeLanguageCommand.ts
  src/commands/admin/ChangeMoneyCommand.ts
  src/commands/admin/ChangePointsCommand.ts
  src/commands/admin/ChangePointsWeekCommand.ts
  src/commands/admin/DebugBlockedCommand.ts
  src/commands/admin/GiveBadgeCommand.ts
  src/commands/admin/GiveCommand.ts
  src/commands/admin/ListItemsCommand.ts
  src/commands/admin/ResetBadgesCommand.ts
  src/commands/admin/SendDataCommand.ts
  src/commands/admin/SendLogsCommand.ts
  src/commands/admin/SendPrivateMessageCommand.ts
  src/commands/admin/ServersCommand.ts
  src/commands/admin/TestCommand.ts
  src/commands/admin/UnblockCommand.ts
  src/commands/guild/GuildAddCommand.ts
  src/commands/guild/GuildCommand.ts
  src/commands/guild/GuildCreateCommand.ts
  src/commands/guild/GuildDailyCommand.ts
  src/commands/guild/GuildShelterCommand.ts
  src/commands/guild/GuildShopCommand.ts
  src/commands/guild/GuildStorageCommand.ts
  src/commands/mission/MissionShopCommand.ts
  src/commands/mission/MissionsCommand.ts
  src/commands/pets/PetCommand.ts
  src/commands/pets/PetFeedCommand.ts
  src/commands/pets/PetNicknameCommand.ts
  src/commands/pets/PetTransferCommand.ts
Labels: refactoring

#1095 GuildDesc in slash command
  src/commands/guild/GuildDescriptionCommand.js
  src/commands/guild/GuildDescriptionCommand.ts
Labels: enhancement, command, refactoring

#1092 guildleave
  resources/text/commands/guildDescription.json
  resources/text/commands/guildElder.json
  resources/text/commands/guildKick.json
  resources/text/commands/guildLeave.json
  src/commands/guild/GuildAddCommand.ts
  src/commands/guild/GuildDailyCommand.ts
  src/commands/guild/GuildLeaveCommand.js
  src/commands/guild/GuildLeaveCommand.ts
  src/commands/player/SellCommand.ts
  src/core/messages/DraftBotListChoiceMessage.ts
  src/core/messages/DraftBotValidateReactionMessage.ts
  src/core/models/Guild.ts
  src/core/smallEvents/shopSmallEvent.ts
Labels: enhancement, command, refactoring
