Repository Crownicles/Crownicles, pull requests merged in 2022-03, with the labels that each got.

#1011 fix #978
  src/commands/player/DrinkCommand.js
Labels: bug

#956 Badge display
  resources/text/commands/profile.json
  src/commands/guild/GuildDailyCommand.js
  src/commands/mission/MissionShopCommand.ts
  src/commands/player/ProfileCommand.js
  src/commands/player/ShopCommand.js
  src/core/Constants.ts
  src/core/smallEvents/interactOtherPlayersSmallEvent.js
  src/core/smallEvents/petSmallEvent.js
Labels: enhancement

#1018 vote command en slash command
  src/commands/player/ProfileCommand.js
  src/commands/player/VoteCommand.js
  src/commands/player/VoteCommand.ts
Labels: enhancement, command, refactoring

#1017 refactor: badgeCommand to ts and slash command
  src/commands/player/BadgeCommand.js
  src/commands/player/BadgeCommand.ts
Labels: enhancement, command, refactoring

#1019 Inventory command #331
  src/commands/CommandsManager.ts
  src/commands/player/InventoryCommand.js
  src/commands/player/InventoryCommand.ts
  src/core/messages/DraftBotReactionMessage.ts
  src/core/models/Entity.ts
Labels: enhancement, command, refactoring

#1024 refactor slash command MissionsCommand.ts #331
  src/commands/mission/MissionsCommand.ts
  src/core/models/Entity.ts
Labels: enhancement, command, refactoring

#1029 refactor slash command DmNotificationCommand.ts #331
  src/commands/player/DmNotificationCommand.js
  src/commands/player/DmNotificationCommand.ts
  src/core/Tools.js
Labels: enhancement, command, refactoring

#1032 Admin commands slash command
  resources/text/commands/pointsWeek.json
  src/commands/CommandsManager.ts
  src/commands/admin/ChangeLanguageCommand.js
  src/commands/admin/ChangeLanguageCommand.ts
  src/commands/admin/ChangeMoneyCommand.js
  src/commands/admin/ChangeMoneyCommand.ts
  src/commands/admin/ChangePointsCommand.js
  src/commands/admin/ChangePointsCommand.ts
  src/commands/admin/ChangePointsWeekCommand.js
  src/commands/admin/ChangePointsWeekCommand.ts
  src/commands/admin/DebugBlockedCommand.js
  src/commands/admin/DebugBlockedCommand.ts
  src/commands/admin/GiveBadgeCommand.js
  src/commands/admin/GiveBadgeCommand.ts
  src/commands/admin/GiveCommand.js
  src/commands/admin/GiveCommand.ts
  src/commands/admin/ListItemsCommand.ts
  src/commands/admin/ResetBadgesCommand.js
  src/commands/admin/ResetBadgesCommand.ts
  src/commands/admin/SendDataCommand.js
  src/commands/admin/SendDataCommand.ts
  src/commands/admin/SendLogsCommand.js
  src/commands/admin/SendLogsCommand.ts
  src/commands/admin/SendPrivateMessageCommand.js
  src/commands/admin/SendPrivateMessageCommand.ts
  src/commands/admin/ServersCommand.js
  src/commands/admin/ServersCommand.ts
  src/commands/admin/TestCommand.js
  src/commands/admin/UnblockCommand.js
  src/commands/admin/UnblockCommand.ts
  src/core/Constant.js
  src/core/Constants.ts
  src/core/MessageError.js
  src/core/bot/DraftBotConfig.ts
  src/core/bot/index.ts
  src/core/messages/DraftBotEmbed.ts
  src/core/models/Server.ts
Labels: enhancement, command, refactoring

#1048 massive refactor + respawn command slash command #331
  .editorconfig
  src/commands/admin/ChangeMoneyCommand.ts
  src/commands/admin/ChangePointsCommand.ts
  src/commands/admin/ChangePointsWeekCommand.ts
  src/commands/admin/GiveCommand.ts
  src/commands/admin/SendLogsCommand.ts
  src/commands/admin/SendPrivateMessageCommand.ts
  src/commands/guild/GuildCommand.ts
  src/commands/guild/GuildShopCommand.ts
  src/commands/mission/MissionShopCommand.ts
  src/commands/mission/MissionsCommand.ts
  src/commands/player/DmNotificationCommand.ts
  src/commands/player/RespawnCommand.js
  src/commands/player/RespawnCommand.ts
  src/commands/player/ShopCommand.ts
  src/core/missions/Campaign.ts
  src/core/missions/MissionsController.ts
  src/core/models/Entity.ts
  src/core/models/Guild.ts
  src/core/models/PetEntity.ts
  src/core/models/Player.ts
  src/core/smallEvents/ultimateFoodMerchantSmallEvent.ts
  src/core/utils/BlockingUtils.ts
  src/core/utils/ErrorUtils.ts
  src/core/utils/GuildUtils.ts
  src/core/utils/ItemUtils.ts
Labels: enhancement, command, refactoring

#1050 Map command slash command
  resources/text/commands/map.json
  src/commands/player/MapCommand.js
  src/commands/player/MapCommand.ts
Labels: enhancement, command, refactoring

#1051 mypetcommand to slash command #331
  src/commands/pets/MyPetCommand.js
  src/commands/pets/PetCommand.ts
Labels: bug, enhancement, command, refactoring

#1053 GuildShelterCommand.ts slash command #331
  src/commands/guild/GuildShelterCommand.js
  src/commands/guild/GuildShelterCommand.ts
Labels: enhancement, command, refactoring

#1054 GuildStorageCommand.ts slash command #331
  src/commands/guild/GuildShopCommand.ts
  src/commands/guild/GuildStorageCommand.js
  src/commands/guild/GuildStorageCommand.ts
  src/core/Constants.ts
Labels: enhancement, command, refactoring

#1049 refactor substr deprecated -> slice #1047
  src/core/models/Potion.ts
Labels: refactoring
