Repository Crownicles/Crownicles, pull requests merged in 2024-04, with the labels that each got.

#2459 Map command #2273
  Core/src/commands/player/MapCommand.ts
  Discord/src/commands/player/MapCommand.ts
  Discord/src/packetHandlers/handlers/CommandHandlers.ts
  Lang/fr/commands.json
  Lang/fr/discordBuilder.json
  Lib/src/packets/commands/CommandMapPacket.ts
Labels: command, refactoring

#2473 Séparation des fichiers de CI
  .github/workflows/core-module.yml
  .github/workflows/discord-module.yml
  .github/workflows/eslint.yml
  .github/workflows/lib-module.yml
Labels: refactoring, github

#2475 Ajout de valeurs par défaut pour les fichiers de configs en exemple
  Core/config/config.default.toml
  Discord/config/config.default.toml
Labels: refactoring, not end user

#2474 Modification du README.md pour être plus lisible
  README.md
Labels: typo / visu, not end user

#2478 Report summary
  Core/resources/events/56.json
  Core/resources/smallEvents/doNothing.json
  Core/resources/smallEvents/epicItemShop.json
  Core/resources/smallEvents/findItem.json
  Core/resources/smallEvents/findMission.json
  Core/resources/smallEvents/findPet.json
  Core/resources/smallEvents/findPotions.json
  Core/resources/smallEvents/goToPVEIsland.json
  Core/resources/smallEvents/interactOtherPlayers.json
  Core/resources/smallEvents/leagueReward.json
  Core/resources/smallEvents/lottery.json
  Core/resources/smallEvents/pet.json
  Core/resources/smallEvents/smallBadEvent.json
  Core/resources/smallEvents/space.json
  Core/resources/smallEvents/ultimateFoodMerchant.json
  Core/resources/smallEvents/winPersonalXP.json
  Core/resources/smallEvents/witch.json
  Core/src/commands/player/ReportCommand.ts
  Core/src/core/database/game/models/Player.ts
  Discord/src/commands/player/ReportCommand.ts
  Discord/src/packetHandlers/handlers/CommandHandlers.ts
  Discord/src/translations/i18n.ts
  Discord/src/utils/ErrorUtils.ts
  Lang/de/advices.json
  Lang/en/advices.json
  Lang/en/events.json
  Lang/es/advices.json
  Lang/fr/advices.json
  Lang/fr/error.json
  Lang/fr/events.json
  Lang/it/advices.json
  Lang/pt/advices.json
  Lib/src/DraftBotIcons.ts
  Lib/src/packets/commands/CommandReportPacket.ts
Labels: command

#2481 Fix migration
  Core/src/core/database/game/migrations/019-v5.ts
  Core/src/core/database/logs/migrations/006-v5.ts
Labels: bug
