Repository Crownicles/Crownicles, pull requests merged in 2024-11, with the labels that each got.

#2643 first config script
  Core/yarn.lock
  Discord/yarn.lock
  README.md
  launchScripts/firstConfig.sh
Labels: deployement, not end user

#2646 Refactoring and fixes
  Core/.eslintrc.json
  Core/src/commands/admin/testCommands/Missions/SetCampaignTestCommand.ts
  Core/src/commands/player/ReportCommand.ts
  Core/src/core/database/game/models/DailyMission.ts
  Core/src/core/missions/Campaign.ts
  Core/src/core/missions/DefaultInterface.ts
  Core/src/core/missions/IMission.ts
  Core/src/core/missions/MissionTag.ts
  Core/src/core/missions/MissionsController.ts
  Core/src/core/missions/interfaces/chooseClass.ts
  Core/src/core/missions/interfaces/chooseClassTier.ts
  Core/src/core/missions/interfaces/drinkPotionRarity.ts
  Core/src/core/missions/interfaces/exploreDifferentPlaces.ts
  Core/src/core/missions/interfaces/fightAttacks.ts
  Core/src/core/missions/interfaces/fightHealthPercent.ts
  Core/src/core/missions/interfaces/fightStreak.ts
  Core/src/core/missions/interfaces/finishWithAttack.ts
  Core/src/core/missions/interfaces/fromPlaceToPlace.ts
  Core/src/core/missions/interfaces/goToPlace.ts
  Core/src/core/missions/interfaces/guildLevel.ts
  Core/src/core/missions/interfaces/haveItemRarity.ts
  Core/src/core/missions/interfaces/havePet.ts
  Core/src/core/missions/interfaces/havePotions.ts
  Core/src/core/missions/interfaces/joinGuild.ts
  Core/src/core/missions/interfaces/meetDifferentPlayers.ts
  Core/src/core/missions/interfaces/reachGlory.ts
  Core/src/core/missions/interfaces/reachLevel.ts
  Core/src/core/missions/interfaces/reachScore.ts
  Core/src/core/missions/interfaces/sellItemWithGivenCost.ts
  Core/src/core/missions/interfaces/tamedPet.ts
  Core/src/core/missions/interfaces/trainedPet.ts
  Core/src/core/missions/interfaces/travelHours.ts
  Core/src/core/smallEvents/interactOtherPlayers.ts
  Core/src/core/smallEvents/lottery.ts
  Core/src/core/smallEvents/smallBad.ts
  Core/src/data/events/PossibilityOutcome.ts
  Core/src/index.ts
  Discord/.eslintignore
  Discord/.eslintrc.json
  Discord/src/bot/DiscordMQTT.ts
  Discord/src/packetHandlers/handlers/SmallEventsHandler.ts
  Lib/.eslintrc.json
  Lib/src/packets/smallEvents/SmallEventLotteryPacket.ts
  Lib/src/packets/smallEvents/SmallEventSmallBadPacket.ts
Labels: refactoring

#2652 Notifications v5 front
  Core/src/commands/admin/testCommands/Player/SendNotificationTestCommand.ts
  Core/src/core/bot/DraftBot.ts
  Discord/src/bot/DiscordMQTT.ts
  Discord/src/commands/notifications/NotificationsCommand.ts
  Discord/src/notifications/NotificationType.ts
  Discord/src/notifications/NotificationsHandler.ts
  Discord/src/utils/DisplayUtils.ts
  Lang/fr/bot.json
  Lib/src/packets/notifications/GuildDailyNotificationPacket.ts
  Lib/src/packets/notifications/ReachDestinationNotificationPacket.ts
Labels: core

#2658 Maintenance + remove requirements from discord microservice #2273
  Core/src/commands/admin/MaintenanceCommand.ts
  Core/src/core/bot/DraftBot.ts
  Core/src/core/utils/CommandUtils.ts
  Core/src/index.ts
  Discord/src/commands/ICommand.ts
  Discord/src/commands/admin/LanguageCommand.ts
  Discord/src/commands/admin/MaintenanceCommand.ts
  Discord/src/commands/admin/TestCommand.ts
  Discord/src/commands/guild/GuildCommand.ts
  Discord/src/commands/guild/GuildCreateCommand.ts
  Discord/src/commands/notifications/NotificationsCommand.ts
  Discord/src/commands/pet/PetCommand.ts
  Discord/src/commands/pet/PetFreeCommand.ts
  Discord/src/commands/pet/PetNickCommand.ts
  Discord/src/commands/player/BadgesCommand.ts
  Discord/src/commands/player/ClassesInfoCommand.ts
  Discord/src/commands/player/HelpCommand.ts
  Discord/src/commands/player/IdeaCommand.ts
  Discord/src/commands/player/InventoryCommand.ts
  Discord/src/commands/player/InviteCommand.ts
  Discord/src/commands/player/MapCommand.ts
  Discord/src/commands/player/PingCommand.ts
  Discord/src/commands/player/ProfileCommand.ts
  Discord/src/commands/player/RarityCommand.ts
  Discord/src/commands/player/ReportCommand.ts
  Discord/src/commands/player/RespawnCommand.ts
  Discord/src/commands/player/ShopCommand.ts
  Discord/src/commands/player/UpdateCommand.ts
  Discord/src/commands/player/VoteCommand.ts
  Discord/src/packetHandlers/handlers/CommandHandlers.ts
  Discord/src/packetHandlers/handlers/ErrorHandler.ts
  Lang/en/discordBuilder.json
  Lang/fr/commands.json
  Lang/fr/discordBuilder.json
  Lang/fr/error.json
  Lib/src/packets/commands/CommandMaintenancePacket.ts
  Lib/src/packets/commands/ErrorPacket.ts
Labels: command, core
