Repository Crownicles/Crownicles, pull requests merged in 2025-01, with the labels that each got.

#2703 Top command
  Core/src/commands/player/TopCommand.ts
  Core/src/core/database/game/migrations/019-v5.ts
  Core/src/core/database/game/models/Player.ts
  Core/src/core/database/logs/LogsDatabase.ts
  Core/src/core/smallEvents/epicItemShop.ts
  Discord/src/commands/SlashCommandBuilderGenerator.ts
  Discord/src/commands/player/TopCommand.ts
  Discord/src/packetHandlers/handlers/CommandHandlers.ts
  Lang/en/discordBuilder.json
  Lang/fr/commands.json
  Lang/fr/discordBuilder.json
  Lib/src/DraftBotIcons.ts
  Lib/src/constants/Constants.ts
  Lib/src/constants/TopConstants.ts
  Lib/src/enums/TopDataType.ts
  Lib/src/enums/TopTimings.ts
  Lib/src/interfaces/TopElement.ts
  Lib/src/keycloak/KeycloakUtils.ts
  Lib/src/packets/commands/CommandTopPacket.ts
Labels: command, refactoring

#2734 Do not use mariadb root password in production mode
  Core/config/config.default.toml
  Discord/config/config.default.toml
  Lib/src/database/Database.ts
Labels: core, deployement, not end user

#2738 fix #2737
  Core/src/core/utils/CommandUtils.ts
  Core/src/index.ts
Labels: bug, core

#2753 Renamed migration files with wrong name convention #2736
  Core/src/core/database/game/migrations/007-mission-points.ts
  Core/src/core/database/game/migrations/008-glory-and-league.ts
  Core/src/core/database/game/migrations/009-update-fight-missions.ts
  Core/src/core/database/game/migrations/010-class-price-removal.ts
  Core/src/core/database/game/migrations/014-player-rage.ts
  Core/src/core/database/game/migrations/015-add-monster-attack-weight.ts
  Core/src/core/database/game/migrations/016-add-monster-description.ts
  Core/src/core/database/game/migrations/017-campaign-blob.ts
  Core/src/core/database/game/migrations/018-new-campaign-missions.ts
  Core/src/core/database/game/migrations/019-v5.ts
  Lib/src/database/MigrationNameChanger.ts
Labels: core, refactoring, not end user

#2756 fix guildLeave translations
  Lang/en/discordBuilder.json
  Lang/fr/discordBuilder.json
Labels: bug
